@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@100;300;400;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-black: #272a31;
  --primary-orange: #ec5242;
  --primary-gray: #d3d3d3;
  --primary-light-dark: #000000ce;
}

body {
  font-family: Lato, sans-serif;
}

header {
  background-image: url(images/conference-bg.png);
  background-position: center;
  background-size: cover;
}

.header--nav--section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  padding: 10px;
  width: 100%;
}

.header--social {
  background-color: var(--primary-black);
  display: flex;
  justify-content: flex-end;
  padding: 4px;

  /* filter: blur(10px); */
}

.header--social ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header--hamburger {
  /* filter: blur(5px); */
}

.header--social ul .bi,
.header--social ul a {
  color: #fff;
}

.header--logo {
  display: flex;
  gap: 0.4rem;

  /* filter: blur(10px); */
}

.logo--text {
  font-size: 19px;
}

.logo--design {
  border: 4px dashed var(--primary-orange);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--nav--container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-black);
  background-color: var(--primary-light-dark);
}

.header--nav ul {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header--nav ul a {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav--close--icon {
  width: 25px;
  position: absolute;
  top: 5%;
  left: 90%;
  z-index: 100;
}

.header--nav ul li {
  padding: 20px;
}

.header--nav ul a:hover {
  color: var(--primary-orange);
}

.header--nav ul li:hover a {
  color: #000;
}

.header--nav ul li:hover {
  background-color: var(--primary-orange);
}

.header--hero--section {
  border: 1px solid red;
  padding: 6rem 20px 4.44rem 20px;
}

.hero--greeting {
  color: rgba(255, 79, 56, 1);
  font-size: 1.2rem;
}

.header--hero--section h1 {
  color: rgba(255, 79, 56, 1);
  font-size: 2rem;
  text-transform: uppercase;
}

.hero--description {
  color: #515151;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  margin-top: 3rem;
  line-height: 1.7;
  padding: 0.2rem 1rem;
  border: 8.497px solid #fff;
  background: #f8f8f8;
}

.hero--date {
  color: #595959;
  font-size: 1.25rem;
  font-weight: 900;
  padding-top: 2.93rem;
}

.hero--venue {
  color: #868686;
  font-size: 0.8125rem;
  font-weight: 700;
  padding: 0.7rem 0;
}

.main--program {
  background-image: url(images/Prog-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px 20px;
}
.main--program--header--container,
.featured--speaker--header--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.main--program--header {
   color: #fff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  position: relative;
}
.featured--speaker--header {
  color: #000;
  font-size: 1.25rem;
  font-family: Lato;
  line-height: 1.75rem;
}
.main--program--header--line, 
.featured--speaker--header--line {
  width: 1.875rem;
  height: 0.125rem;
  height: 3px;
  background: #a04038;
  border-radius: 10px;
}
.main--program--cards--container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main--program--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: rgba(59, 62, 69, 1);
  padding: 10px;
}
.cards--icon--text p {
  color: #ff5438;
  font-size: 0.89194rem;
  font-weight: 700;
  line-height: 1.56094rem;
}
.main--program--card-description {
  color: #fff;
  font-size: 0.66894rem;
  font-weight: 700;
  line-height: 1.39369rem;
}
.cards--icon--text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.55744rem;
}
.main--program--link {
  background: #FF4F38;
  width: 80%;
  padding: 20px;
  display: block;
  margin: 30px  auto 0 auto;
  text-align: center;
  color: #fff;
}
.featured--speaker {
  padding: 20px;
}
.featured--speakers--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30px;
}
.featured--speakers-card {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.speakers--img img {
  width: 150px;
  height: 170px;
  object-fit: cover;
}
.speaker--description h4 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}
.speaker--description h5 {
  color: #F78C89;
  font-size: 0.9375rem;
  font-weight: 700;
}
.speaker--description p {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
}
.see--more-btn {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 0.75rem 0rem 0.8125rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  transition: all 0.5s linear;
}
.see--more-btn:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}
.see--more-btn p {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header--nav--container {
    position: unset;
    height: auto;
    width: auto;
    display: flex;
    background-color: #fff;
  }

  .nav--close--icon {
    display: none;
  }

  .header--nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }

  .header--nav ul li {
    padding: 0;
  }

  .header--nav ul li:last-child {
    border: 4px solid var(--primary-orange);
    padding: 10px;
    margin-left: 20px;
  }

  .header--nav ul a {
    color: var(--primary-black);
    font-size: 15px;
  }

  .header--hamburger {
    display: none;
  }

  .header--hero--section {
    padding: 12.88rem 7.25rem 12.44rem 7.56rem;
  }

  .hero--greeting {
    font-size: 3rem;
  }

  .header--hero--section h1 {
    font-size: 4rem;
  }

  .hero--description {
    font-size: 1.59313rem;
    border: 8.497px solid #fff;
    background: #f8f8f8;
    display: flex;
    width: 47.26306rem;
    height: 11.28475rem;
    padding: 2.27031rem 1.85869rem 2.20194rem 1.85863rem;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .main--program--cards--container {
    flex-direction: row;
    gap: 0.2rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .main--program--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s linear;
    cursor: pointer;
  }
  .main--program--card:hover {
    border: 2px solid #fff;
    transform: scale(0.9);
  }
  .main--program--card-description {
    text-align: center;
  }
  .cards--icon--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.55744rem;
  }
  .main--program--link {
    width: 300px;
  }
  .featured--speakers--container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .see--more-btn {
    display: none;
  }
}
